.container {
  /* background-color: #ebf2ed; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  height: 350px;
  margin-left: 100px;
  padding: 2rem;
  gap: 10px;
  border-bottom: solid 2px #f28322;

}

.bookCover {
  height: 250px;
  width: 300px;
}

.bookCover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bookInfo {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bookInfo h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}

.author {
  font-style: oblique;
  text-transform: uppercase;
}

.statusBook {
  background-color: #f28322;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  text-transform: capitalize;
}



.options {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: start;
}

.options div {
  width: 100%;
}

.optionButton {
  width: 100%;
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: none;
  border: #f28322 solid 1px;
  color: #f28322;
  transition: all 0.2s ease-out;
}

.optionButton span {
  font-weight: bold;
}



.optionButton:hover {
  background-color: #f28322;
  color: #fff;
}