/*---------------//FOTOS//---------------------*/
.portada {
    width: 1116px;
    height: 223px;

    position: absolute;
    top: 0;
    right: 0;
}

.perfil {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;

    box-shadow: 0px 0px 0px 4px rgb(255, 255, 255),
        0px 0px 0px 8px rgb(237, 129, 34);

    position: absolute;
    top: 50px;
    left: 1150px;
}

/*---------------//FOTOS//---------------------*/

/*---------------//NOMBRE//---------------------*/
.nombre {
    position: absolute;
    top: 40px;
    left: 300px;
    border: 4px solid rgb(237, 129, 34);
    border-radius: 20px;
    width: 800px;
    padding: 20px;
}

.nombre h3~.p1 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.nombre1 {
    color: rgb(0, 0, 0);
    font-size: 38px;
}

/*---------------//NOMBRE//---------------------*/

.paginado {
    margin-top: 20px;
    width: 500px;
    position: absolute;
    left: 300px;
    display: flex;
}


.editAccountLinkIcon {
    font-size: 24px;
    margin: 3px;
}



.editAccountLink {
    width: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: 30px;
    align-items: center;
}

/*---------------//NOMBRE//---------------------*/

/*---------------//Boton//---------------------*/

.boton {
    margin-top: 10px;
    height: 50px;
    width: 150px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 24px;
}

/*---------------//Boton//---------------------*/