.mainGridContainer {


  display: grid;
  grid-template-columns: 15rem auto;
  color: #010326;
  padding-bottom: 20px;


}

.Bookdetails {
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  width: 90%;


}

.bookImage img {

  width: 180px;
  height: 276px;
  margin-top: 1rem;

}


.bookTextDetail {
  color: #010326;
  display: flex;
  flex-direction: column;
  justify-items: left;
  margin-top: 1rem;
  width: 70%;
  margin-left: 2rem;

}

.bookTextDetail h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.bookTextDetail h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.buttonCategory {
  background-color: transparent;
  color: #d97823;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.2rem 0.8rem 0.2rem 0.8rem;
  border: 1px solid #d97823;
  border-radius: 10px;
}

.buttonCategorycontainer {
  margin-left: 1rem;
  margin-top: 1rem;
}


.readBookButtonContainer {
  position: absolute;
  top: 380px;
  left: 300px;
}

.perfilBoton {
  display: flex;
  margin-top: 20px;
  margin-left: 1rem;
  width: max-content;
  padding: 5px;
  background-color: none;
  color: #010326;
  font-size: 16px;
  border-radius: 4px;
  border: #010326 solid 1px;
  transition: all 0.3s ease;
}

.perfilBoton:hover {
  background-color: #010326;
  color: #fff;
}


.readBookButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  margin: 3%;
  width: 6rem;
  word-wrap: break-word;
  border-radius: 5px;
  border: 2px solid #00a3fe;
  border-color: transparent;
  box-shadow: 1px 5px 5px 2px rgb(0 0 0 / 40%);
  outline: none;
  transition: 0.15s;
  text-align: center;
  box-shadow: #010326;
  background-color: #f1ac15;
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
}

.readBookButton:hover {
  background-color: white;
  color: black
}

.readBookButton:active {
  transform: scale(1.02)
}

.buttonSuscribe {

  color: #D97823;
  font-weight: 600;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  border: 1px solid #D97823;
  border-radius: 0.2rem;
  transition: all .25s;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.buttonSuscribe:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #D97823, #F28322);
  transition: all .3s ease;
  z-index: -1;
}

.buttonSuscribe:hover {
  color: white;
}

.buttonSuscribe:hover::before {
  height: 100%;
}

/*---------------//Boton//---------------------*/

.boton {

  margin-top: 10px;
  border: 2px solid #010326;
  border-radius: 10px;
  display: flex;
  height: 30px;
  width: auto;
  padding: 15px;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 24px;
  transition: all 0.3s ease;
}

.boton:hover {
  background-color: #010326;
  color: #fff;
}

.btnText {
  font-size: 16px;
}

.loaderContainer {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
}