.StarContainer {
  display: flex;
  flex-direction: row;
  place-items: center;
  text-align: center;

}

.StarContainer .starWidget input {

  display: none;


}


.starWidget label {
  font-size: 15px;
  color: #444;
  padding: 5px;
  float: right;
  transition: all 0.2s ease;
}

input:not(:checked)~label:hover,
input:not(:checked)~label:hover~label {
  color: #fd4;


}

input:checked~label {
  color: #fd4;
}


input#rate-S:checked~label {
  color: #fe7;
  text-shadow: 0 0 20px #952;


}

input:checked~form {
  display: block;

}




.textLoginBanner {
  color: white
}

.commentsContainer {

  color: #010326;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 600px;
  left: 200px;
}

.addReviewForm {
  display: flex;
  flex-direction: column;

}


.addReviewForm textarea {
  border-radius: 5px;
  color: rgb(1, 0, 0);
  border: 3px solid #010326;
  background-color: transparent;
}


.postedCommentsBox {

  display: flex;
  flex-direction: row;
  width: 70%;

}

.postedCommentsImg {
  border-radius: 50%;

  margin: 10px;
  min-width: 2rem;
  max-width: 2rem;
}

.postReviewButton {
  background-color: rgb(6, 1, 1);
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 3px;
  color: #010326
}