.sidebar{
  flex:1;
  height: calc(100vh - 0px);
  background-color: #D97823;
  font-weight: bold;
  position:fixed;

}

.titulo{
  font-size: 3rem;
  line-height: 2.5rem;
  
}
.sidebarWrapper{
  padding: 10px;
  margin-top: 3rem;
}

.letras{
  color:#010326;
}

.sidebarMenu{
  margin-bottom: 10px;
  margin-top: 30px;
}

.sidebarTitle{
  font-size: 20px;
  color:#010326;
  margin-top: 20px;
  margin-left: 60px;
}

.sidebarList{
  list-style: none;
  padding: 40px;
}

.sidebarListItem{
  padding: 10px;
  cursor:pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarIcon{
  margin-right: 5px;
  color:white;
}

.wrapperButton{
  margin-top: 8rem;
  align-items: center;
  text-align: center;
}

.buttonLogOut{
  padding: 5px;
  border-radius: 10 px;
  font-size: 1rem;
  font-weight: bold;
 margin-left: 60px;
 margin-top: 5rem;
}