.flexContainer{
  display: flex;
  flex-direction: column;
  
  
  justify-content:space-around;
  
}

.mainContent{
margin-top: 3rem;


}

.homeHeaderGraphscontainer{
  display: flex;
  flex-direction: column;
 
  margin-left: 10px;
  width: 100%;
  justify-content: center;
  }

.homeHeaderGraphs{
 
display: flex;

flex-direction: row;
padding: 50px;
width: 100%;
margin-left: 0;
height: auto;

gap: 40px;
}
.secondRow{
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  gap: 40px;
}

.usergraphic{
  
  justify-content: flex-end;
}
.bookgraphic{
 
  justify-content: flex-start;
}

.title{
  display: flex;
  color: #010326;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
}

.SideBar{
width: 18rem;
min-height: 100vh;


}


.dash{
display: flex;
flex-direction: row;
width: 212vh;

}

.graphBooksStadistics{
  height: 200%;
  background-color: #010326;
  width: auto;
  /* height: 300px;
  width: 300px; */
}

.graphUsersStadistics{
  height: 200%;
 background-color: antiquewhite;
 width: auto;
  /* margin-top: 3rem;
  margin-left: -9rem;
  height: 62rem;
  width: 500px; */
}

.graphCommentsStadistics{
  width: 100%;
  background-color: #D97823;
  padding: 40px;
}

.graphBooks{
  width: 200px;
  height: 200px;
  margin-left: 15rem;
  margin-top: 1rem;
}

.userContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  
  width: 180%;
  height: 80%;
  gap: 40px;
}
.graphCardUser{
  
  height: auto;
  margin-top: 10px;

}
.bookListEdit{
  
  color: rgb(41, 40, 40);
    cursor: pointer;
    width: 15rem;
    word-wrap: break-word;
    border-radius: 5px;
    height: 35px;
    border-color: transparent;
    box-shadow: 1px 5px 5px 2px rgb( 0 0 0 / 40%);
     outline: none; 
    transition: 0.15s;
    text-align: center;
    box-shadow: #010326;
    background-color: #D97823;
    font-weight: 600;
}
.bookListEdit:hover {
  background-color: #f1ac15;
  color: white
}

.bookListEdit:active{
    transform: scale(1.02)
    
}
.userTitle{
  margin-top: -20rem;
  font-weight: bold;
  font-size: 20px;
}

.ContainerTitle{
  font-weight: bold;
  font-size: 20px;
}

.userGraphContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width:1000px;
  height:100%;
  margin-top: -20px;
  gap: 10px;
}
.usersCardUser{
  
  

}
.bookEditForm{
  
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 0;  
  width: 100%;
  height: 800px;  
}

.cardTitle{
  position: relative;
font-size: 1.5rem;
  color: white;
  margin-top: 8rem;
  margin-bottom: 10px;
}

.homeCardGraphValue{
font-weight: 800;
color: white;
font-size: 4rem; 
margin: 80px 0px  0px;
background-color: aquamarine;

}

.homeHeaderGraphsWrap{
display: flex;
flex-direction: column;
margin-left: 3rem;
height: fit-content;
background-color: aquamarine;
}





.arrowText{
  
display: flex;
justify-self: right;
align-self: flex-end;
margin-right: 2rem;
margin-top: 0.8rem;

width: fit-content;
align-items: center;
}





.bookContainer{
/* margin: 40px; */

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 10px;
margin-top: -30px;
width: 400%;
}

.graphBooks{
  display: flex;
  justify-content: center;
  
  width: fit-content;
  height: fit-content;
  margin-left: -20px;
}
.AllBooksUsers{
display: flex;
justify-content: flex-start;
align-items: flex-start;

width: 100%;
}
.ContainerTitle{

  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
  margin-top: 0rem;
  margin-left: 5rem;

}



