.contenedor{
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  gap:5px;
  }
  
.Usuario{
  background-color: black ;
  color: white;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  /* gap:100px; */
  
  }
  
.Solapas{
   height:100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  }
  
.datos{
  text-align: center;
  background-color: beige;
  display:grid;
  grid-template-rows: repeat (1,1fr);
  }
  