.homeContainer{
align-items: center;
width:100%;
height: auto;

}

/* -----card------ */

.mover {
   
    display: flex;
    margin-top: 50px;
}

.svgConteiner{
    position: absolute;
    width: 35px;
    margin-top: 5px ;
    margin-left: 50rem;
    color:white
}

.svg{
    margin-left: 10px;

}

.mover1 {
    display: flex;
    position: absolute;
    top: 80px;
    left: 250px;

  }


.p {
    position:absolute;
    top: 100px;
    left: 700px;
    color:#010326;
    font-style: italic;
    font-size: 20px;
}
.paginado {
    width: 500px;
    position: absolute;
    top: 500px;
    left: 600px;
    display: flex;
  }


}

.searchFilterRow{
display: flex;
flex-direction: row;
flex-wrap: wrap;
 margin-top: 3%;
 background-color: aquamarine;
}

