.homeContainer {
    align-items: center;
    width: 100%;
    height: auto;

}

/* -----card------ */

.mover {

    width: 1080px;

    margin-top: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 1%;
    perspective: 1000px;
}

.pagination {
    margin-top: -380px;
    margin-left: 5rem;
}

.svgConteiner {
    position: absolute;
    width: 35px;
    margin-top: 5px;
    margin-left: 50rem;
    color: white
}

.svg {
    margin-left: 10px;

}

.mover1 {
    display: flex;
    position: absolute;
    top: 150px;
    left: 250px;

}


.p {
    position: absolute;
    top: 100px;
    left: 20rem;
    color: #010326;
    font-style: italic;
    font-size: 20px;
}

.paginado {
    width: 500px;
    position: absolute;
    top: 500px;
    left: 600px;
    display: flex;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 3%;
    perspective: 1000px;
}

.filterCard {
    display: flex;
    /*  flex-wrap: wrap; */
    /* gap: 10px; */
    margin-left: 8%;
    perspective: 1000px;
}


.searchFilterRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3%;
    background-color: aquamarine;
}

.boton {
    border: 3px solid #000000;
    outline: 0;
    height: 50px;
    width: 50px;
    color: #010326;
    background-color: #EBF2ED;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton:hover {
    background-color: #010326;
    color: #EBF2ED;
}