.contenedor{
    margin-left: 45rem;
   margin-top: -2rem;
  }
  
  .cardConteiner{
    gap:30px;
    display: flex;
    margin-top: 5rem;
    margin-left: -25rem;
    flex-wrap: wrap;
  
  }
  .mover {
   margin-left: -25rem;
    display: flex;
    margin-top: 50px;
}

.mover1 {
  display: flex;
  position: absolute;
}

.todo {
  position: absolute;
  top: 450px;
  left: 600px;
  display: flex;
}

.p{
  margin-top: 5rem;
  margin-left: -25rem;
  font-size: 1.2em;
  font-style: italic;
  color: white;
}