


.mainGridContainer{
display: grid;

grid-template-columns: 15rem  35rem auto;
background-color: aquamarine;

}


.infoBox{
display: flex;
background-color: #EBF2ED;
justify-content: center;
align-items: center;


}

.imageBox{

background-color: brown;

}

.NavBar{

background-color: black;

}


.textBox{

width: 80%;


}

.textBox h1{

 color: rgb(74, 72, 72);
 font-weight: 700;
 font-size: 2rem;   
    
    }
.textBox p{
color: rgb(74, 72, 72);
font-weight: 500;
font-size: 1.2rem;
margin-top: 1rem;

}