


.PageViewsCardContainer{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 200px;
    background-color: rgb(210, 213, 213);
  border-radius: 15px;
  align-items: center;
  justify-content: center

}

.PageViewsNumber{
color: orange;
font-size: 6rem;
margin: 3rem;

}

.PageViewsCardTitle{
font-size: 2rem;
font-weight: 600;
}