.mover {
   
    display: flex;
}


.mover1 {
    
    position: absolute;
}

.block {
    width: 50%;
    padding: 4px;
    padding-left: 10px;
    font-size: 0.8rem;
    color: gray;
    border: 1px solid gray-300;
    border-radius: 5px;
    background-color: gray-50;
}

.block:focus {
    outline: none;
    border-color: blue-500;
    box-shadow: 0 0 0 3px blue-500;
}

.dark {
    background-color: gray-700;
    border-color: gray-600;
    color: white;
    
}

.dark:focus {
    border-color: blue-500;
    box-shadow: 0 0 0 3px blue-500;
}