.contenedor{
  margin-left: 18rem;
}

.input{
  margin-top: 30px;
  padding: 5px;
  border-radius: 20px;
  width: 400px;
}

.cardConteiner{
  gap:30px;
  display: flex;
  margin-top: 5rem;
  margin-left: -25rem;
  flex-wrap: wrap;
}


