

.container{
padding: 30px;
background-color: #fff;
border: #F28322 2px solid;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
width: 40%;
height: 55%;
margin-left: 30rem;


}

.form{
    display: flex;
flex-direction: column;
align-items: center;

width: 100%;

}
.container input, select{
background-color: #e4e6f8 ;
width: 70%;
height: 25px;
border-radius: 7px;
border: none;
}
.container button{
    margin: 5px;
    width: 80%;
    background-color: #fff;
    color: #010326;
    border-bottom:#F28322 solid 1px;
    border-right: #F28322 solid 1px;
    height: 25px;
}
.container button:hover{
    background: #F28322;
    color: #fff;
}
.container label{
    color: #010326;
}
/* blanco #ffffff
blanco-oscura #EBF2ED
negro: #010326
naraja: #F28322
naranja oscuro #D97823 */

