@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Poppins:wght@400;500;600;700;800&display=swap');

/* ABOUT APP SECTION */
.wrapper {
  margin: 3rem auto;
  margin-bottom: 0;
}

.containerTitle {
  font-family: 'Bitter', serif;
  text-align: center;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 2rem auto;
}

.containerSection {
  margin: 0 5rem;
  max-width: 1500px;
}

.logo {
  font-size: 4rem;
  text-transform: uppercase;
}

.simpleContain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem;
}

.groupContain {
  margin: 3rem 0;
}

.info {
  padding: 3rem;
  padding-top: 0;
  font-size: 20px;
  line-height: 40px;
}

.numbers {
  color: #f28322;
  font-weight: bold;
  padding: 5px;
  margin-right: 1rem;
  border: 2px solid #f28322;
  border-radius: 50%;
}

.paragraphLeft {
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.paragraphRight {
  animation: slideInRight 2s both;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* LOGIN SECTION */
.main_container {
  background-image: url('./images/Red-apple-books-pencils_3840x2160.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_left_container {
  width: 50vw;
  padding-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleApp {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 2px #25b687;
  font-size: 4rem;
  margin-bottom: 5%;
}

.main_left_container h3 {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 0 0 2px #25b687;
  font-size: 1.4rem;
  margin-bottom: 4%;
}

.main_left_container .left_paragraph {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.left_paragraph p {
  color: white;
  text-shadow: 0 0 1px #25b687;
  font-size: 1.1rem;
  width: 23rem;
  text-align: center;
}

.LinkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3%;
}

.LinkContainer button {
  margin-bottom: 5px;
}

.LinkHome {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
