.rateStarRow{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #fd4;
    align-items: right;
    }


    .rateStar{
     display: flex;
     flex-direction: row;
     padding-top: 10px;


    }
    