.mover {
   
  display: flex;
  margin-top: 50px;
  
}

.svgConteiner{
  position: absolute;
  width: 40px;
  margin-top: 30px ;
  margin-left: 31rem;
  color:white
}



.svg{
  margin-left: 10px;
}

.mover1 {
  display: flex;
  position: absolute;
  top: 80px;
  left: 250px;
}

.p {
  color: white;
  font-size: 1.2em;
  margin-top: 10%;
  font-style: italic;
}
.paginado {
  width: 1000px;
  position: absolute;
  top: 50px;
  left:  20px;
  display: flex;
}