.mover {
   
  display: flex;
  margin-top: 50px;
}

.svgConteiner{
  position: absolute;
  width: 35px;
  margin-top: 12px ;
  margin-left: 21rem;
  color:white
}

.svg{
  margin-left: 10px;
}

.mover1 {
  display: flex;
  position: absolute;
}

.input {
  position: absolute;
  margin-top: 45px;
  margin-left: 45rem;
}
.p {
  color: white;
  font-size: 1.2em;
  margin-top: 10%;
  font-style: italic;
}
.paginado {
  width: 1000px;
  position: absolute;
  top: 32px;
  right:  -330px;
  display: flex;
}