/*-----input-----*/

input{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid rgb(156, 163, 175);
    color: rgb(255, 255, 255);
    background-color:rgb(124,124,124);
  
    padding-right: 30px;
  }
select{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid rgb(156, 163, 175);
    color: rgb(255, 255, 255);
    background-color:rgb(124,124,124);
  }


  .search{
    color: rgb(255, 255, 255);
    height: 50px;
    width: 250px;
    padding-left: 10px;

  }
  .selectGen{
    color: rgb(255, 255, 255);
    height: 50px;
    width: 250px;

  }
  .selectAZ{
    color: rgb(255, 255, 255);
    width: 100px;
    height: 50px;

  }
  /*-----input-----*/