/*-----input-----*/
/* 
.inputHomeFilter{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid rgb(156, 163, 175);
    color: rgb(255, 255, 255);
    background-color:rgb(124,124,124);
  
    padding-right: 30px;
  } 
.selectHome{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid rgb(156, 163, 175);
    color: rgb(255, 255, 255);
    background-color:rgb(124,124,124);
  } */



.search {
  color: #010326;

  height: 50px;
  width: 210px;
  padding-left: 10px;
  border: 3px solid #010326;
  border-radius: 10px;
  background-color: transparent;
}

.search:focus {
  outline: none;
}


.selectGen {
  border: 3px solid #010326;
  outline: 0;
  height: 50px;
  width: 210px;
  padding-left: 10px;
  color: #010326;
  background-color: #EBF2ED;
  cursor: pointer;
}

.selectAZ {
  border: 3px solid #010326;
  outline: 0;
  height: 50px;
  width: 110px;
  padding-left: 10px;
  color: #010326;
  background-color: #EBF2ED;
  cursor: pointer;
}




/*-----input-----*/
