/*-----input-----*/

input{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid rgb(156, 163, 175);
    color: rgb(255, 255, 255);
    background-color:rgb(124,124,124);
    padding-left: 10px;
  }
select{
    padding: 6px;
    border-radius: 20px;
    border: 1px solid rgb(156, 163, 175);
    color: rgb(255, 255, 255);
    background-color:rgb(124,124,124);
  }


  .search{
    color: #010326;
    background-color: #EBF2ED;
    height: 50px;
    width: 260px;

  }
  .selectGen{
    color: #010326;
    background-color: #EBF2ED;
    height: 50px;
    width: 250px;
    border-color:1px #010326;

  }
  .selectAZ{
    color: #010326;
    background-color: #EBF2ED;
    width: 100px;
    height: 50px;
    border-color:1px #010326;

  }
  /*-----input-----*/