.paginacion {
  font-size: 50;
  margin: 15px 0 20px 0;
}


/* .todo {

  display: flex;
}


  .p {
    font-weight: bold;

    height: 45px;

    background: #D97823;

    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 4px 50px #F28322;
    border: solid 2px #F28322;
    padding: 10px 20px;
    user-select: none;
    margin: 0 8px 0px 8px;
  }


.BtnPag {
  font-weight: bold;

  font-size: 20px;
 color: #D97823;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000000;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out; }
  .BtnPag:hover {

    background: #D97823;

    color: #fff;
  }
 */