.todo {

  display: flex;
}


  .p {
    font-weight: bold;

    height: 45px;
    background: #010326;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0px 4px 50px rgb(0 0 0 / 10%);
    border: solid 2px #07484a;
    padding: 10px 20px;
    user-select: none;
    margin: 0 8px 0px 8px;
  }


.BtnPag {
  font-weight: bold;

  font-size: 20px;
 color: #07484a;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000000;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out; }
  .BtnPag:hover {
    background: #010326;
    color: #fff;
  }
