/* .graph{
    width: 100%;
    height: 100%;
    background-color: rgb(49, 48, 48);
    padding: 20px;
    border-radius: 40px;
} */

.graph{
    display: flex;
    padding: 10px;
    width: 254px;
  height: 254px;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}