.container{
    margin-top: 10px;
    border-radius: 10px;
    border-right: darkblue 1px solid;
    border-bottom: darkblue 1px solid;
    background-color: rgb(252, 248, 218);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.container button{
    margin: 5px;
    width: 15%;
    background-color: #fff;
    color: darkblue;
    border: darkblue solid 1px;
}
.container button:hover{
    background-color: orange;
    color: beige;
    border: orange 1px solid;
}
.container p{
    padding-left: 8px;
}