.NavBarContainer {
  position: fixed;
  background-color: #010326;
  max-width: 15rem;
  height: 100%;
  box-shadow: 1px 5px 5px 5px rgb(0 0 0 / 40%);

}

.NavBarLogo {

  font-size: 2.25rem;
  line-height: 2.5rem;
  color: white;
  font-weight: 900;
  margin-top: 9rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}


.NavBarOption {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 1.25rem;
  color: white;
  margin: 2rem 2.5rem 4rem 2.5rem;
}

.NavBarOption li {
  margin: 2rem 0 2rem 0;

}

.buttonSuscribeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -3rem;
  margin-left: 2.7rem;
}

.buttonLogOutContainer {
  margin-top: 10rem;
}

/* "bg-transparent text-white hover:bg-black text-white font-semibold hover:text-white py-2 px-4 border border-white-500  rounded */

.buttonSuscribe {

  color: #D97823;
  font-weight: 600;
  padding: 0.3rem 0.4rem 0.3rem 0.4rem;
  border: 1px solid #D97823;
  border-radius: 0.2rem;
  transition: all .25s;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.buttonSuscribe:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #D97823, #F28322);
  transition: all .25s;
  z-index: -1;
}

.buttonSuscribe:hover {
  color: white;
}

.buttonSuscribe:hover::before {
  height: 100%;
}

.buttonLogOut {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
  margin-top: 7rem;
  font-weight: 600;
  border-radius: 0.2rem;
  margin-bottom: 4rem;

}

.buttonLogOut:active {

  background-color: transparent;
  color: white;
  font-weight: 600;
  /* padding: 0.2rem 0.3rem 0.2rem 0.3rem; */
  border-radius: 0.2rem;
  transform: scale(1.02) ease;
  background-color: #f28322;
  color: white;
}

.buttonLogOutIcon {
  margin-right: 7px;
  font-size: 20px;

}