.loadingContainer{
position: absolute;
margin-left: auto;
margin-right: auto;
left: 50%;
top: 50%;
text-align: center;
}


.ldsfacebook {
    display: flex;
    position: absolute;
    width: 80px;
   align-self: center;
   justify-content: center;
   align-content: center;
   align-items: center;
  }
  .ldsfacebook div {
    display: inline-block;
    position: absolute;.ldsfacebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.ldsfacebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: rgb(127, 17, 17);
  animation: ldsfacebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.ldsfacebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.ldsfacebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.ldsfacebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes ldsfacebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
    left: 8px;
    width: 16px;
    background:orange;
    animation: ldsfacebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .ldsfacebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .ldsfacebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .ldsfacebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes ldsfacebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }